---
import BaseLayout from "../layouts/BaseLayout.astro"
import BlogPost from "../components/BlogPost.astro"

import torch from "../images/blog/torch.gif"
---


<BaseLayout title="The Blog">
    <div class="flex items-center mb-32">
        <img src={torch} alt='torch'/>
        <div class="marquee w-96">
            <span class="text-4xl text-gruvboxTextColor">The blog</span>
        </div>
        <img src={torch} alt='torch' />
    </div>
    <div class="grid grid-cols-6 gap-4 w-full px-20">
      <section class="col-span-4">
        <BlogPost title="First Post" intro="Sometimes is good to have an intro that captures the main point of the post..." tags={["programming", "linux", "python"]} postUrl="/posts/post-1"/>
        <BlogPost title="First Post" intro="Sometimes is good to have an intro that captures the main point of the post..." tags={["programming", "linux", "python"]} postUrl="/posts/post-1"/>
      </section>
      <section class="col-span-2 text-center">
        <span class="text-xl">Tags</span>
      </section>
    </div>
    
</BaseLayout>

<style>
  .marquee {
  white-space: nowrap;
  overflow: hidden;
}
.marquee span {
  animation: animate 3s linear infinite;
  display: inline-block;
  padding-left: 100%;
}
@keyframes animate {
  100% {
    transform: translate(-100%, 0);
  }
}
</style>
