---
import BaseLayout from '../layouts/BaseLayout.astro'; 
import codeDungeonText from '../images/code_dungeon.gif'
import hauntedHouse from '../images/HauntedHouse.gif'
import guyBird from '../images/guy_bird.gif'
---

<BaseLayout title="Code Dungeon">
		<header class="flex flex-col items-center pb-20" >
			<img src={codeDungeonText} alt="The main text of the code dungeon" />
			<h1 class="text-3xl my-10">Welcome to the best website of the internet!</h1>
			<img src={hauntedHouse} alt="Haunted House">
			<h1 class="text-3xl mt-10">You're at the right place if you like scary and coding stuff!</h1>
			<h1 class="text-3xl my-10">So prepare yourself, and enter...</h1>
			<img class="h-52 w-52" src={guyBird} alt="guy walking with a bird in his back">
		</header>
</BaseLayout>
