---
import MainLayout from '../layouts/MainLayout.astro'; 
import Card from '../components/Card.astro';
---

<MainLayout title="Code Dungeon">
	<main class="bg-red-600 absolute top-16 md:left-80">
		<header>
			<h1>Hola kito</h1>
		</header>
	</main>
</MainLayout>
