---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Links">
   <div class="flex flex-col items-center text-center text-white">
      <p class="mb-16">Here are some links that i've found useful or amusing</p>
      <div>
         <h1 class="mb-5 space-y-3">resources so you can also create your own website</h1>
         <ul class="text-left">
            <li>
               <a class="text-matrix_green underline" href="https://gifcities.org/" target="_blank">gifcities.org</a>
               - A bunch of gifs
            </li>
            <li>
               <a class="text-matrix_green underline" href="https://compressor.io/" target="_blank">compressior.io</a>
               - compress your images
            </li>
            <li>
               <a class="text-matrix_green underline" href="https://www.cameronsworld.net/" target="_blank">cameronsworld.net</a>
               - a pretty cool site with a los of resources 
            </li>
            <li>
               <a class="text-matrix_green underline" href="https://www.photopea.com/" target="_blank">photopea.com</a>
               - an online phothoshop a little basic but it doesn simple jobs very well 
            </li>
            <li>
               <a class="text-matrix_green underline" href="https://neocities.org/browse" target="_blank">neocities.org</a>
               - a bunch of geocities style sites  
            </li>
            <li>
               <a class="text-matrix_green underline" href="https://www.happyhues.co/" target="_blank">happyhues.co</a>
               - a place were you could get pallete colors for your site 
            </li>
         </ul>
      </div>
   </div>
</MainLayout>
