---
import MainLayout from "../layouts/MainLayout.astro"
import LinkItem from "../components/LinkItem.astro";
---

<MainLayout title="Links">
   <div class="flex flex-col items-center text-center text-white">
      <p class="mb-16">Here are some links that i've found useful or amusing</p>
      <div>
         <h1 class="mb-5 space-y-3">resources so you can also create your own website</h1>
         <ul class="text-left">
            <LinkItem link="https://gifcities.org/" title="gifcities.org" description="A bunch of gifs" />
            <LinkItem link="https://compressor.io/" title="compressor.io" description="Compress your images" />
            <LinkItem link="https://www.cameronsworld.net/" title="cameronsworld.net" description="A pretty cool site with lots of resources" />
            <LinkItem link="https://www.photopea.com/" title="photopea.com" description="an online photoshop, a little basci but does simple jobs very well" />
            <LinkItem link="https://neocities.org/browse" title="neocities.org" description="A bunch of geocities style sites" />
            <LinkItem link="https://www.happyhues.co/" title="happyhues.co" description="A place where you can get a pallete of colors for your site" />
         </ul>
      </div>
   </div>
</MainLayout>
