---
import MainLayout from "../layouts/MainLayout.astro"
import ProfileHeader from "../components/ProfileHeader.astro"
import ProfileTech from "../components/ProfileTech.astro"
import Card from "../components/Card.astro"

import medicalImg from "../images/profile/medical.png"
import codeDungeonImg from "../images/profile/code-dungeon.png"

---


<MainLayout title="Professional Profile">
  <ProfileHeader />
  <h1 class="my-8 text-xl">Tech I've worked with professionaly:</h1>
  <ProfileTech />
  <h1 class="text-xl my-16">Some of my work:</h1>
  <section class="grid grid-cols-1 lg:grid-cols-2 gap-9 mb-10">
    <Card 
      image={medicalImg} 
      altText="Medical Manager" 
      projectName="Medical Manager" 
      description="A patient manager for a dentist" 
      techUsed={["Django", "Bootstrap", "Postgresql"]}
      link="https://github.com/urielbravo/medical_records"
      linkType={"repo"}
      />
    <Card 
      image={codeDungeonImg} 
      altText="The code dungeon" 
      projectName="The code dungeon" 
      description="A blog/portfolio" 
      techUsed={["Astro", "Tailwind", "Typescript"]}
      link="https://github.com/urielbravo/code-lair"
      linkType={"repo"}
    />
  </section>
</MainLayout>
