---
import MainLayout from "../layouts/MainLayout.astro"
import ProfileHeader from "../components/ProfileHeader.astro";
import ProfileTech from "../components/ProfileTech.astro";
---


<MainLayout title="Professional Profile">
  <ProfileHeader />
  <h1 class="my-8 text-xl">Tech I worked with in a professional manner:</h1>
  <ProfileTech />
</MainLayout>
