---
export interface Props {
	title: string;
    intro: string;
    tags: string[];
}

const { title, intro, tags } = Astro.props
---


<div class="flex flex-col space-y-2">
    <h1 class="text-3xl">{title}</h1>
    <span>{intro}</span>
    <div class="flex font-medium space-x-2">
        { tags.map(tag => <span class="border-matrix_green border-2 p-1">{tag}</span> )}
    </div>
</div>