---
export interface props {
    name: string
    linkTo: string
}

const {name, linkTo } = Astro.props
---

<a href={linkTo} class="py-2 5 px-4 flex items-center space-x-2  rounded hover:bg-matrix_green hover:text-matrix_black transition duration-100">{name}</a>
