---
export interface props {
    name: string
    linkTo: string
}

const {name, linkTo } = Astro.props
---

<a href={linkTo} class="py-2 5 px-4 flex items-center space-x-2  rounded hover:bg-solarized_base02 hover:text-solarized_base3 transition duration-100">{name}</a>
