---
import typeScriptIcon from "../images/techIcons/typescript.svg"
---

<div class="flex flex-nowrap">
    <figure class="flex flex-col">
        <figcaption>
            Typescript
        </figcaption> 
        <img class="h-7" src={typeScriptIcon} alt="Typescript">
    </figure>
</div>
