---
import typeScriptIcon from "../images/techIcons/typescript.svg"
import reactIcon from "../images/techIcons/react.svg"
import bitbucketIcon from "../images/techIcons/bitbucket.svg"
---

<div class="flex flex-nowrap space-x-5">
    <figure class="flex flex-col">
        <figcaption>
            Typescript
        </figcaption> 
        <img class="h-7" src={typeScriptIcon} alt="Typescript">
    </figure>
    <figure class="flex flex-col">
        <figcaption>
           React 
        </figcaption> 
        <img class="h-7" src={reactIcon} alt="react">
    </figure>
    <figure class="flex flex-col">
        <figcaption>
          Bitbucket 
        </figcaption> 
        <img class="h-7" src={bitbucketIcon} alt="bitbucket">
    </figure>

</div>
