---
import NavLink from "../components/NavLink.astro";
---
<!-- sidebar -->
<div class="sidebar bg-matrix_black text-matrix_green w-80 space-y-6 px-2 py-2 transform -translate-x-full fixed top-16 bottom-0 left-0 md:translate-x-0 transition duration-200 ease-in-out z-10 border-r-2 border-matrix_green">
    <nav>
      <NavLink name="Home" linkTo="/"/>
      <NavLink name="Blog" linkTo="/blog/"/>
      <NavLink name="Professional profile" linkTo="/profile/"/>
      <NavLink name="About me" linkTo="/about/"/>
      <NavLink name="Links" linkTo="/links" />
    </nav>
  </div>